
/* variables */

$bkg-main-light: #fff;

$bkg-base:#34495e;
$bkg-secondary:#212f3b;


$brd-color:#999999;
$txt-base-color:#cdcdcd;
$txt-dark-color:#666;
$accent-color:#b25747;
$active-btn:#e53935;
$helper-txt-size: 11px;
$helper-txt-color: #357a38;